<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calender Api</title>
    <link rel="stylesheet" href="../static/app.css">
</head>
<body class="container">
    <h1 class="intro">Welcome to Calender App <span><img class="calender" src ="../static/calender.png" alt = "calender.png"></span></h1>
    <br>
    <h1 class ="signin">Kindly Sign In to Continue</h1>
    <a href="http://127.0.0.1:8000/init/">
        <img class="google" src="../static/google-icon.png" alt="Google Icon">
    </a>  
</body>
</html>